[Unit]
Description=Depdem service
After=network.target

[Service]
ExecStart=/usr/local/bin/depdem
WorkingDirectory=/etc/depdem
Restart=on-failure

[Install]
WantedBy=multi-user.target
